body {
    background-image: url("crop.jpg");
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 500px;
    margin-right: 150px;
}

h1 {
    margin-left: 220px;

}

input {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-bottom: 4px solid black;
}

button {

    background-color: #4CAF50;
    color: white;
    padding: 15px 220px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 170px;
}

#predi {
    margin-left: 170px;
    color: white;

}